*{
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background: rgb(128, 85, 128);
    color: white;
    
}
.nav{
    display: flex;
    background: aquamarine;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    position: fixed;
    top: 0px;
    opacity: 50%;  
}
.nav a:hover {
    background-color: #a19797;
    border-radius: 5px;
    padding: 5px;
  }
.logo{
   align-items: center;
   justify-items: center;
   font-size:large;
   font-weight: 600; 
}
.logo a{
    text-decoration: none;
}
section ul li{
    display: inline-block; 
    font-size: large; 
}
.nav-item li a{
    text-decoration: none;   
}
.button{
    background: rgb(184, 165, 58);
    font-size: large;
    font-weight: 400;
    padding: 7px;
    border-radius: 10px;
    border-bottom: 5px solid;
    
}
.button a{
    text-decoration: none;
}
.serch{
    padding: 8px;
    border-radius: 10px;
}
.hero{
    display: flex;
    margin-top: 80px;
}
.intro{
    width: 50%;
}
.hero-img{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgb(180, 160, 160);
}
.card{
    margin-top: 40px;
    border-radius: 10px;
    background: rgb(162, 93, 162);
    width: 387px;
    padding: 15px;
    box-shadow: 8px 8px 15px rgb(180, 160, 160);
}
.card-img{
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 8px 8px 15px rgb(180, 160, 160);
}
.deign{
    border-top: 3px solid palegoldenrod;
    border-bottom: 3px solid palegoldenrod;
    width: 400px;
    justify-items: center;
    
}
.container{
    display: grid;
    place-items: center;
    margin-top: 30px; 
    
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer{
    background: rgb(115, 72, 115);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 8px 8px 15px 5px rgb(180, 160, 160);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.footerAddress{
    margin-top: 30px;
    padding: 20px;
   
}
